@import "base.css";

body {
  background: var(--background_color);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  position: relative;
  overflow-y: scroll;
}

.web-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  width: 70%;
}

.error-message {
    display: grid;
    gap: 24px;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
    
    h1 {
        font-size: 64px;
        color: var(--secondary_color);
    }

    a {
        background: var(--secondary_color);
        padding: 6px 12px;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 12px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }

    a:hover {
        background: var(--secondary_dark_color);
    }
}