@import "footer.css";
@import "base.css";

body {
  overflow-y: scroll;
}

.web-content {
  display: grid;
  gap: 2px;
}

.breadcrumb-container {
  background-color: var(--background_shadow_color);
  padding: 4px 0px;
  color: var(--background_light_color);
  font-size: 14px;
}

.breadcrumb-container .breadcrumb-display a {
  color: var(--background_light_color);
  text-decoration: none;
  margin: 0 5px;
}

.breadcrumb-display {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0px auto;
  width: 80%;
}

.game-title-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 8px 0px;

  h1 {
    font-size: 26px;
  }
}

.tools {
  display: inline-flex;
  gap: 12px;
  align-items: center;

  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

.game-display-container {
  background-color: var(--background_shadow_color);
  padding: 12px;
  border: 12px solid var(--secondary_dark_color);
  width: 80%;
  margin: 0px auto;
  display: grid;
  gap: 8px;
  justify-items: center;
}

.peg-solitaire-rows {
  display: grid;
  gap: 8px;
}

.triple {
  grid-template-columns: 1fr 1fr 1fr;
}

.seven {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.peg-solitaire-piece {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-color: var(--background_color);
  border: 2px solid var(--secondary_color);
  box-shadow: 0px 1px 4px var(--background_color);
}

.game-developer-container {
  padding: 96px 0px;
  display: grid;
  gap: 24px;
  width: 80%;
  margin: 0px auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.game-developer-info {
  display: grid;
  gap: 12px;

  .game-developer-title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }

  p {
    font-size: 14px;
  }

  .game-developer-experiences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    .game-experience {
      background: url("../assets/images/SuperMario.webp");
      min-height: 256px;
      width: 100%;
      border-radius: 12px;
      background-size: cover;
    }
  }
}

.game-help-container {
  padding: 24px 0px;
  display: grid;
  gap: 24px;
  width: 80%;
  margin: 0px auto;
}

.game-keyboard-help-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .game-controllers {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .game-controller {
      display: flex;
      flex-direction: column;
      gap: 2px;
      text-align: center;
      font-size: 14px;
      justify-content: center;

      .game-controller-button {
        background-color: var(--secondary_color);
        padding: 12px;
        display: grid;
        margin: 0px auto;
        border: none;
        border-radius: 12px;
        box-shadow: 0px 2px 0px var(--secondary_shadow_color);
        transition: all 0.3s ease-in-out;
      }

      .game-controller-button:hover {
        background-color: var(--secondary_shadow_color);
        box-shadow: none;
        transform: translateY(2px);
      }
    }

    .up-controller {
      margin-right: 10px;
    }

    .left-controller {
      display: inline-flex;
      flex-direction: row;
      align-items: start;

      p {
        transform: rotate(-90deg);
        margin-top: 12px;
      }

      .game-controller-arrow {
        transform: rotate(-90deg);
      }
    }
    .right-controller {
      display: inline-flex;
      flex-direction: row;
      align-items: start;

      p {
        transform: rotate(90deg);
        margin-top: 12px;
      }

      .game-controller-arrow {
        transform: rotate(90deg);
      }
    }
    .down-controller {
      .game-controller-arrow {
        transform: rotate(180deg);
      }
    }

    .controllers-grid {
      display: flex;
      gap: 12px;
      margin: 0px auto;
    }
  }
}

.game-instructions {
  display: grid;
  gap: 12px;

  .game-instructions-title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }

  ul li {
    font-size: 14px;
  }
}

.game-rating-container {
  display: grid;
  width: 80%;
  margin: 0px auto;
  margin-top: 64px;
}

.game-rating-form {
  display: grid;
  gap: 24px;
}

.game-rating-form-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.game-rating-form-group {
  position: relative;
  width: 100%;
}

.game-rating-form-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--secondary_color);
  padding: 12px 0px;
  outline: none;
  font-size: 14px;
  color: var(--backgrund_light_gray_color);
  width: 100%;
}

.game-rating-form-input::placeholder {
  color: transparent;
}

/* Posiciona el label donde iria el placeholder */
.game-rating-form-group label {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 14px;
  color: var(--backgrund_light_gray_color);
  pointer-events: none;
  transition: 0.3s ease all;
}

.game-rating-form-stars-selector svg path {
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.game-rating-form-stars-selector svg path:hover,
.game-rating-form-stars-selector svg path.active {
  fill: var(--secondary_color);
}

/* Cuando hay foco o el input no está vacío */
.game-rating-form-input:focus + label,
.game-rating-form-input:not(:placeholder-shown) + label {
  top: -12px;
  font-size: 12px;
  color: var(--secondary_color);
}

.game-rating-selector {
  display: grid;
  gap: 4px;
  font-size: 14px;
  color: var(--backgrund_light_gray_color);
}

.game-rating-form-button {
  margin-top: 15px;
  padding: 8px 32px;
  background: var(--secondary_color);
  box-shadow: 0px 4px 0px var(--secondary_dark_color);
  border: none;
  border-radius: 8px;
  color: var(--background_light_color);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  transition: 0.3s;
  text-transform: uppercase;
  margin: 0px auto;
  cursor: pointer;
}

.game-rating-form-button:hover {
  background: var(--secondary_dark_color);
  box-shadow: none;
  transform: translateY(4px);
}

.game-rating-forum {
  display: grid;
  gap: 24px;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  margin-top: 64px;
}

.game-forum-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.game-rating-card {
  background-color: var(--background_dark_color);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  gap: 46px;
}

.game-rating-card-profile h4 {
  font-size: 16px;
  font-weight: 400;
}

.game-rating-card-message {
  text-align: left;
  display: grid;
  gap: 12px;
  width: 80%;

  .game-rating-card-stars img {
    width: 18px;
    height: 18px;
  }
}
/* por ahora no funca */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid var(--background_gray_color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.game-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 100%;

  .game-stats-boxes {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: space-between;

    .game-stats-box {
      background-color: var(--background_header_color);
      border-radius: 12px;
      padding: 4px;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
    }
  }
}

.banner {
  width: 100%;
  height: 128px;
  background: linear-gradient(
    to bottom,
    rgb(255, 123, 1),
    rgba(255, 200, 80, 1),
    rgba(255, 123, 0, 1)
  );
  object-fit: scale-down;
}

.blocka-display-container {
  background-color: var(--background_shadow_color);
  padding: 12px;
  border: 12px solid var(--secondary_dark_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  gap: 16px;
  justify-items: center;
}

.blocka-display-container.active {
  display: flex;
}

.blocka-pre-display-container.active {
  display: grid;
}

.blocka-pre-display-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  position: relative;
  height: 512px;

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%; /* opcional si querés centrar también verticalmente */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  .game-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 1.2s infinite;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 8px;
    border: 2px solid var(--accent_dark_color);
    font-size: 18px;
    background-color: var(--accent_color);
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
  }

  .game-play-button:hover {
    background-color: var(--accent_dark_color);
    transform: translateY(-3px);
  }

  img {
    height: 256px;
    height: 256px;
    filter: grayscale(80%);
  }
}

.blocka-choosed-level-container.active {
  display: grid;
}

.blocka-choosed-level-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  overflow: hidden;
  position: relative;
  height: 512px;
  background: url("../public/blocka/torre_eiffel.png");
  filter: grayscale(40%);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  justify-content: center;
  align-items: center;

  .level-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 0.8s infinite ease-in-out;
  }
}

.blocka-next-level-container.active {
  display: grid;
}

.blocka-next-level-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  overflow: hidden;
  position: relative;
  height: 512px;
  background: url("../public/blocka/torre_eiffel.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%; /* opcional si querés centrar también verticalmente */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .game-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 0.8s infinite ease-in-out;
  }

  .game-info-buttons {
    display: flex;
    gap: 12px;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 18px;
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--background_header_color);
  }

  a {
    text-decoration: none;
  }

  .secondary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--secondary_dark_color);
  }
  .purple {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--accent_dark_color);
  }

  .secondary:hover {
    background-color: var(--secondary_dark_color);
    transform: translateY(-3px);
  }
  .purple:hover {
    background-color: var(--accent_dark_color);
    transform: translateY(-3px);
  }
}


.blocka-lost-message-container.active {
  display: grid;
}

.blocka-lost-message-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  overflow: hidden;
  position: relative;
  height: 512px;
  background: url("../assets/game-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%; /* opcional si querés centrar también verticalmente */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .game-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 0.8s infinite ease-in-out;
    color: #ff2626;
  }

  .game-info-buttons {
    display: flex;
    gap: 12px;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 18px;
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--background_header_color);
  }

  a {
    text-decoration: none;
  }

  .secondary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--secondary_dark_color);
  }
  .primary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--primary_dark_color);
  }

  .secondary:hover {
    background-color: var(--secondary_dark_color);
    transform: translateY(-3px);
  }
  .primary:hover {
    background-color: var(--primary_dark_color);
    transform: translateY(-3px);
  }
}



.blocka-winner-message-container.active {
  display: grid;
}

.blocka-winner-message-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  overflow: hidden;
  position: relative;
  height: 512px;
  background: url("../assets/winner-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%; /* opcional si querés centrar también verticalmente */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .game-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 0.8s infinite ease-in-out;
    color: var(--primary_color);
  }

  .game-info-buttons {
    display: flex;
    gap: 12px;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 18px;
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--background_header_color);
  }

  a {
    text-decoration: none;
  }

  .secondary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--secondary_dark_color);
  }
  .primary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--primary_dark_color);
  }

  .secondary:hover {
    background-color: var(--secondary_dark_color);
    transform: translateY(-3px);
  }
  .primary:hover {
    background-color: var(--primary_dark_color);
    transform: translateY(-3px);
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

#canvas {
  border: 2px solid var(--secondary_color);
}

.game-levels {
  display: grid;
  gap: 12px;

  img {
    height: 68px;
    height: 68px;
    filter: grayscale(100%);
  }

  .game-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 2px solid var(--secondary_color);
  }

  img.active {
    filter: none;
  }
}

#level-stage {
  font-size: 20px;
}

#level-description {
  font-size: 12px;
}

.timer-display.warning {
  color: red;
  animation: colorSwitch 0.5s infinite;
}

@keyframes colorSwitch {
  0% {
    color: red;
  }
  50% {
    color: rgb(236, 84, 84);
  }
  100% {
    color: red;
  }
}