@import "footer.css";
@import "base.css";

body {
  overflow-y: scroll;
}

canvas.active {
  display: block;
}

.canvas-image-selector {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.canvas-image {
  height: 72px;
  width: 72px;
  border: solid 3px var(--secondary_dark_color);

  img {
    height: 100%;
    width: 100%;
  }
}

.canvas-image.selected {
  height: 72px;
  width: 72px;
  border: solid 3px var(--primary_color);
}

.reset-button {
  display: flex;
  padding: 10px 16px;
  border-radius: 32px;
  border: none;
  justify-content: center;
  gap: 12px;
  background-color: var(--background_dark_color);
  transition: all 0.3s;
  cursor: pointer;
  
  img {
    height: 24px;
    width: 24px;
  }
}

.reset-button:hover {
  background-color: var(--background_gray_color);
}

.game-display-header {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.flappy-pre-display-container {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  width: 820px;
  position: absolute;
  display: none;
  overflow: hidden;
  height: 520px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .game-info-text {
    text-align: center;

    p {
      font-size: 14px;
      text-shadow: 0px 2px 2px var(--background_header_color);
    }
  }

  .game-title {
    font-size: 48px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 1.2s infinite;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 8px;
    border: 2px solid var(--accent_dark_color);
    font-size: 18px;
    background-color: var(--accent_color);
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
  }

  .game-play-button:hover {
    background-color: var(--accent_dark_color);
    transform: translateY(-3px);
  }
}

.flappy-pre-display-container.active {
  display: grid;
  gap: 12px;
}

.web-content {
  display: grid;
  gap: 2px;
}

.breadcrumb-container {
  background-color: var(--background_shadow_color);
  padding: 4px 0px;
  color: var(--background_light_color);
  font-size: 14px;
}

.breadcrumb-container .breadcrumb-display a {
  color: var(--background_light_color);
  text-decoration: none;
  margin: 0 5px;
}

.breadcrumb-display {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0px auto;
  width: 80%;
}

.game-title-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 8px 0px;

  h1 {
    font-size: 20px;
  }
}

.tools {
  display: inline-flex;
  gap: 12px;
  align-items: center;

  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}

.game-display-container {
  background-color: var(--background_shadow_color);
  padding: 12px;
  border: 12px solid var(--secondary_dark_color);
  width: 80%;
  margin: 0px auto;
  display: grid;
  gap: 8px;
  justify-items: center;
  position: relative;
}

.peg-solitaire-rows {
  display: grid;
  gap: 8px;
}

.triple {
  grid-template-columns: 1fr 1fr 1fr;
}

.seven {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

canvas {
  background: url("../public/fondo.webp");
  background-repeat: repeat;
  display: block;
  margin: 20px auto;
  border: 2px solid #333;
}

.peg-solitaire-piece {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-color: var(--background_color);
  border: 2px solid var(--secondary_color);
  box-shadow: 0px 1px 4px var(--background_color);
}

.game-developer-container {
  padding: 96px 0px;
  display: grid;
  gap: 24px;
  width: 80%;
  margin: 0px auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.span-petroka {
  font-weight: bold;
  color: var(--secondary_color);
}

.game-developer-info {
  display: grid;
  gap: 12px;

  .game-developer-title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }

  p {
    font-size: 14px;
  }

  .game-developer-experiences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    .game-experience1 {
      background: url("../assets/images/blocka.webp");
      background-position: center;
      min-height: 256px;
      width: 100%;
      border-radius: 12px;
      background-size: cover;
    }
    .game-experience2 {
      background: url("../assets/images/ajedrez-game.webp");
      min-height: 256px;
      width: 100%;
      border-radius: 12px;
      background-size: cover;
    }
  }
}

.game-help-container {
  padding: 24px 0px;
  display: grid;
  gap: 24px;
  width: 80%;
  margin: 0px auto;
}

.game-instructions {
  display: flex;
  gap: 12px;

  .game-instructions-title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }

  ul li {
    font-size: 14px;
  }
}

.game-help-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 24px;
  margin-top: 24px;
}

.game-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions-list {
  list-style-type: disc;
  padding-left: 40px;
}

.game-guide-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-guide-image1 {
  background: url("../assets/images/peg-arrastra.webp") center/cover no-repeat;
  height: 230px;
  width: 230px;
  border-radius: 12px;
}

.game-rating-container {
  display: grid;
  width: 80%;
  margin: 0px auto;
  margin-top: 64px;
}

.game-rating-form {
  display: grid;
  gap: 24px;
}

.game-rating-form-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.game-rating-form-group {
  position: relative;
  width: 100%;
}

.game-rating-form-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--secondary_color);
  padding: 12px 0px;
  outline: none;
  font-size: 14px;
  color: var(--backgrund_light_gray_color);
  width: 100%;
}

.game-rating-form-input::placeholder {
  color: transparent;
}

/* Posiciona el label donde iria el placeholder */
.game-rating-form-group label {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 14px;
  color: var(--backgrund_light_gray_color);
  pointer-events: none;
  transition: 0.3s ease all;
}

.game-rating-form-stars-selector svg path {
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.game-rating-form-stars-selector svg path:hover,
.game-rating-form-stars-selector svg path.active {
  fill: var(--secondary_color);
}

/* Cuando hay foco o el input no está vacío */
.game-rating-form-input:focus + label,
.game-rating-form-input:not(:placeholder-shown) + label {
  top: -12px;
  font-size: 12px;
  color: var(--secondary_color);
}

.game-rating-selector {
  display: grid;
  gap: 4px;
  font-size: 14px;
  color: var(--backgrund_light_gray_color);
}

.game-rating-form-button {
  margin-top: 15px;
  padding: 8px 32px;
  background: var(--secondary_color);
  box-shadow: 0px 4px 0px var(--secondary_dark_color);
  border: none;
  border-radius: 8px;
  color: var(--background_light_color);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  transition: 0.3s;
  text-transform: uppercase;
  margin: 0px auto;
  cursor: pointer;
}

.game-rating-form-button:hover {
  background: var(--secondary_dark_color);
  box-shadow: none;
  transform: translateY(4px);
}

.game-rating-forum {
  display: grid;
  gap: 24px;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  margin-top: 64px;
}

.game-forum-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.game-rating-card {
  background-color: var(--background_dark_color);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  gap: 46px;
}

.game-rating-card-profile h4 {
  font-size: 16px;
  font-weight: 400;
}

.game-rating-card-message {
  text-align: left;
  display: grid;
  gap: 12px;
  width: 80%;

  .game-rating-card-stars img {
    width: 18px;
    height: 18px;
  }
}
/* por ahora no funca */
.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid var(--background_gray_color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.timer-display {
  display: flex;
  padding: 10px 16px;
  border-radius: 32px;
  justify-content: center;
  gap: 12px;
  background-color: var(--background_dark_color);
}

.timer-display.warning {
  color: red;
  animation: colorSwitch 0.5s infinite;

  svg path {
    stroke: red;
    animation: vectorColorSwitch 0.5s infinite;
  }
}

.timer-display.success {
  color: var(--primary_color);
  animation: colorSuccessSwitch 0.5s infinite;

  svg path {
    stroke: var(--primary_color);
    animation: vectorSuccessColorSwitch 0.5s infinite;
  }
}

@keyframes colorSuccessSwitch {
  0% {
    color: var(--primary_color);
  }
  50% {
    color: var(--primary_dark_color);
  }
  100% {
    color: var(--primary_color);
  }
}

@keyframes vectorSuccessColorSwitch {
  0% {
    stroke: var(--primary_color);
  }
  50% {
    stroke: var(--primary_dark_color);
  }
  100% {
    stroke: var(--primary_color);
  }
}

@keyframes colorSwitch {
  0% {
    color: red;
  }
  50% {
    color: rgb(236, 84, 84);
  }
  100% {
    color: red;
  }
}

@keyframes vectorColorSwitch {
  0% {
    stroke: red;
  }
  50% {
    stroke: rgb(236, 84, 84);
  }
  100% {
    stroke: red;
  }
}

canvas {
  display: none;
}

canvas.active {
  display: block;
}

.lost-display-container.active {
  display: grid;
}

.lost-display-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  overflow: hidden;
  position: relative;
  height: 512px;
  background: url("../assets/game-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%; /* opcional si querés centrar también verticalmente */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .game-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 0.8s infinite ease-in-out;
    color: #ff2626;
  }

  .game-info-buttons {
    display: flex;
    gap: 12px;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 18px;
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--background_header_color);
  }

  a {
    text-decoration: none;
  }

  .secondary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--secondary_dark_color);
  }
  .primary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--primary_dark_color);
  }

  .secondary:hover {
    background-color: var(--secondary_dark_color);
    transform: translateY(-3px);
  }
  .primary:hover {
    background-color: var(--primary_dark_color);
    transform: translateY(-3px);
  }
}

.winner-display-container.active {
  display: grid;
}

.winner-display-container {
  background-color: var(--background_header_color);
  width: 80%;
  margin: 0px auto;
  display: none;
  overflow: hidden;
  position: relative;
  height: 512px;
  background: url("../assets/winner-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .game-info {
    position: absolute;
    left: 50%;
    top: 50%; /* opcional si querés centrar también verticalmente */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .game-title {
    font-size: 64px;
    text-shadow: 4px 2px 2px var(--background_header_color);
    animation: titleAnimation 0.8s infinite ease-in-out;
    color: var(--primary_color);
  }

  .game-info-buttons {
    display: flex;
    gap: 12px;
  }

  .game-play-button {
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 18px;
    text-align: center;
    color: var(--background_light_gray);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 4px var(--background_header_color);
  }

  a {
    text-decoration: none;
  }

  .secondary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--secondary_dark_color);
  }
  .primary {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--primary_dark_color);
  }

  .secondary:hover {
    background-color: var(--secondary_dark_color);
    transform: translateY(-3px);
  }
  .primary:hover {
    background-color: var(--primary_dark_color);
    transform: translateY(-3px);
  }
}

@keyframes titleAnimation {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}
