
/* FOOTER */
.footer {
  width: 80%;
  margin: 0px auto;
  margin-top: 40px;
  padding: 20px;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-info {
    max-width: 256px;
    font-size: 12px;
    color: var(--background_gray_color);
  }

  .footer-links-navigation {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      color: var(--secondary_color);
      font-size: 14px;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 12px;
      li a {
        text-decoration: none;
        color: var(--background_gray_color);
        text-transform: uppercase;
        font-size: 10px;
      }
    }
  }

  .footer-social-media-links {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 24px;
      li {
        display: inline-flex;
        align-items: center;
        gap: 6px;

        img {
          width: 24px;
          height: 24px;
        }
      }
      li a {
        text-decoration: none;
        color: var(--secondary_color);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
