.web-content {
  display: grid;
  gap: 32px;
}

/* NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  background: var(--background_color);
  border-bottom: 2px solid green;
  width: 80%;
  margin: 0px auto;
}

.header .search {
  position: relative;
  padding: 4px 12px 4px 12px;
  border-radius: 28px;
  background: transparent;
  border: solid 2px;
  border-color: var(--background_shadow_color);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: transparent;
    height: 32px;
  }

  input {
    min-width: 256px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--background_light_color);
    font-size: 14px;
  }
}

.header .search input::placeholder {
  color: var(--backgrund_light_gray_color);
}

.header nav {
  display: flex;
  gap: 32px;
  align-items: center;

  button {
    background: none;
    border: none;
  }
}
/* HERO */
.carousel {
  display: grid;
  gap: 24px;
  padding: 24px 0px;
}

.carousel .carousel-navigation {
  display: flex;
  gap: 8px;
  margin: 0px auto;

  .carousel-navigation-button {
    height: 14px;
    width: 96px;
    background: var(--background_gray_color);
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .carousel-navigation-button:hover,
  .carousel-navigation-button.active {
    background: var(--backgrund_light_gray_color);
  }
}

.carousel .carousel-display .carousel-card {
  min-height: 512px;
  max-width: 80%;
  display: grid;
  text-align: center;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  border-radius: 64px;

  .carousel-card-display {
    min-height: 100%;
    width: 100%;
    background: url("../assets/images/batman_game.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 0px 24px 0px 24px;
    align-items: center;
  }

  .carousel-card-display .carousel-card-information {
    text-align: left;
    display: grid;
    gap: 24px;
    z-index: 10;
    max-width: 50%;

    .carousel-card-button {
      background: var(--background_light_color);
      border: none;
      border-radius: 8px;
      padding: 8px;
      text-align: center;
      font-weight: bold;
      max-width: 150px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    .carousel-card-button:hover {
      background: var(--backgrund_light_gray_color);
    }
  }

  .carousel-card-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .carousel-card-gradient-shadow {
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    transition-duration: 0.1s;
  }
}

/* GAME LIST */
.games {
  display: grid;
  gap: 18px;
  width: 80%;
  margin: 0px auto;

  .games-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 400;
    }
  }
}

.games-navigation {
  display: flex;
  gap: 8px;
  align-items: center;

  .games-navigation-button {
    padding: 6px;
    display: grid;
    border-radius: 50%;
    background: var(--background_shadow_color);
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .games-navigation-button:hover {
    background: var(--background_gray_color);
  }
}

.game-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game-card {
  max-width: 245px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .game-card-image {
    border-radius: 16px;
    overflow: hidden;
  }

  .game-card-body {
    display: flex;
    gap: 6px;
    flex-direction: column;
    color: var(--background_light_color);

    .game-card-information p {
      color: var(--background_gray_color);
      font-size: 14px;
    }
    .game-card-information h3 {
      font-size: 18px;
    }
    .game-card-discount-label {
      background-color: var(--secondary_color);
      text-align: center;
      border-radius: 24px;
      font-size: 12px;
      color: var(--background_color);
      padding: 2px 6px 2px 6px;
    }
    .game-card-discount {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .game-card-discount .game-card-discount-price {
      display: flex;
      gap: 4px;
      .game-card-discount-original-price {
        text-decoration: line-through;
        color: var(--background_gray_color);
      }
    }
  }

  .action-button {
    background-color: var(--background_dark_color);
    border: none;
    border-radius: 8px;
    height: 46px;
    text-align: center;
    color: var(--secondary_color);
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    font-weight: bold;
    transition: all 300ms;
    cursor: pointer;

    img {
      height: 24px;
      width: 24px;
    }
  }

  .action-button:hover {
    background-color: var(--background_shadow_color);
  }
}

/* FOOTER */
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-info {
    max-width: 256px;
    font-size: 12px;
    color: var(--background_gray_color);
  }

  .footer-links-navigation {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      color: var(--secondary_color);
      font-size: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 12px;
      li a {
        text-decoration: none;
        color: var(--background_gray_color);
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  .footer-social-media-links {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 24px;
      li {
        display: inline-flex;
        align-items: center;
        gap: 6px;

        img {
          width: 24px;
          height: 24px;
        }
      }
      li a {
        text-decoration: none;
        color: var(--secondary_color);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
