@import "base.css";

body {
  background: url("../assets/images/godofwar_game.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  position: relative;
  padding: 12px;
}

.web-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  width: 70%;
}

.background-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-shadow {
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  transition-duration: 0.1s;
}

.form-container {
  background: var(--background_color);
  padding: 30px;
  border-radius: 15px;
  width: auto;
  margin: 0px auto;
  display: grid;
  justify-items: center;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.user-icon {
  font-size: 40px;
}

.social-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px var(--secondary_color);
  padding-bottom: 12px;
}

.social-login-button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.facebook {
  background: var(--secondary_color);
  transition: all 0.3s ease-in-out;
}
.facebook:hover {
  background: var(--secondary_shadow_color);
}
.google {
  background: var(--accent_shadow_color);
  transition: all 0.3s ease-in-out;
}
.google:hover {
  background: var(--accent_dark_color);
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 15px;
}

.register-form label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-form input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  outline: none;
}

.register-form input::placeholder {
  color: var(--backgrund_light_gray_color);
}

.captcha {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--background_light_color);
  border: solid 1.5px var(--background_gray_color);
  border-radius: 8px;
  color: var(--background_shadow_color);
  font-size: 12px;
  padding: 6px;
  justify-content: space-between;
  grid-column: span 2; /* Ocupa las dos columnas */

  .checkbox-field {
    display: flex;
    align-items: center;
    gap: 6px;
    input {
      width: 16px;
      height: 16px;
    }
  }

  img {
    width: 48px;
    height: 48px;
  }
}

.login-link {
  text-decoration: none;
  font-size: 12px;
  color: var(--secondary_shadow_color);
  margin-top: 12px;
}

.submit-btn {
  margin-top: 15px;
  padding: 12px;
  background: var(--primary_color);
  box-shadow: 0px 4px 0px var(--primary_dark_color);
  border: none;
  border-radius: 8px;
  color: var(--background_light_color);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  grid-column: span 2; /* Ocupa las dos columnas */
}

.submit-btn:hover {
  background: var(--primary_dark_color);
  box-shadow: none;
  transform: translateY(4px);
}
