:root {
  --primary_color: rgba(46, 216, 117, 1);
  --primary_shadow_color: rgba(55, 164, 100, 1);
  --primary_dark_color: rgba(25, 115, 62, 1);

  --secondary_color: rgba(26, 184, 242, 1);
  --secondary_shadow_color: rgba(19, 131, 172, 1);
  --secondary_dark_color: rgba(11, 72, 94, 1);

  --accent_color: rgba(240, 18, 185, 1);
  --accent_shadow_color: rgba(189, 16, 146, 1);
  --accent_dark_color: rgba(97, 8, 75, 1);

  --background_color: rgba(16, 16, 16, 1);
  --background_light_color: rgba(246, 246, 246, 1);
  --backgrund_light_gray_color: rgba(202, 202, 202, 1);
  --background_gray_color: rgba(123, 123, 123, 1);
  --background_shadow_color: rgba(74, 74, 74, 1);
  --background_dark_color: rgba(46, 46, 46, 1);
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  font-family: Arial, sans-serif;
  background: var(--background_color);
  color: #fff;
}

/* NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--background_color);
}

.header .search {
  position: relative;
  padding: 4px 18px 4px 18px;
  border-radius: 28px;
  background: transparent;
  border: solid 2px;
  border-color: var(--background_shadow_color);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: transparent;
    height: 32px;
  }

  input {
    min-width: 256px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--background_light_color);
    font-size: 14px;
  }
}

.header .search input::placeholder {
  color: var(--backgrund_light_gray_color);
}

.header nav {
  display: flex;
  gap: 32px;
  align-items: center;

  button {
    background: none;
    border: none;
  }
}
/* HERO */
.hero {
  height: 400px;
  background: url("../img/lego-batman-bg.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero-text p {
  margin: 20px 0;
}

.cta {
  padding: 12px 25px;
  background: #39a0ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* GAME LIST */
.games {
  padding: 30px;
}

.games h2 {
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.game-card {
  max-width: 245px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .game-card-image {
    border-radius: 16px;
    overflow: hidden;
  }

  .game-card-body {
    display: flex;
    gap: 6px;
    flex-direction: column;
    color: var(--background_light_color);

    .game-card-information p {
      color: var(--background_gray_color);
      font-size: 14px;
    }
    .game-card-information h3 {
      font-size: 18px;
    }
    .game-card-discount-label {
      background-color: var(--secondary_color);
      text-align: center;
      border-radius: 24px;
      font-size: 12px;
      color: var(--background_color);
      padding: 2px 6px 2px 6px;
    }
    .game-card-discount {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .game-card-discount .game-card-discount-price {
      display: flex;
      gap: 4px;
      .game-card-discount-original-price {
        text-decoration: line-through;
        color: var(--background_gray_color);
      }
    }
  }

  .action-button {
    background-color: var(--background_dark_color);
    border: none;
    border-radius: 8px;
    height: 46px;
    text-align: center;
    color: var(--secondary_color);
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    font-weight: bold;
    transition: all 300ms;
    cursor: pointer;

    img {
      height: 24px;
      width: 24px;
    }
  }

  .action-button:hover {
    background-color: var(--background_shadow_color);
  }
}

/* FOOTER */
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-info {
    max-width: 256px;
    font-size: 12px;
    color: var(--background_gray_color);
  }

  .footer-links-navigation {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      color: var(--secondary_color);
      font-size: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 12px;
      li a {
        text-decoration: none;
        color: var(--background_gray_color);
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  .footer-social-media-links {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 24px;
      li {
        display: inline-flex;
        align-items: center;
        gap: 6px;

        img {
          width: 24px;
          height: 24px;
        }
      }
      li a {
        text-decoration: none;
        color: var(--secondary_color);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
